<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trīsstūris</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div></div>
    <h1>Trīsstūris</h1>
    <form action="/dati2" method="GET">
        <label for="mala_a">Mala a:</label><br>
        <input type="text" id="mala_a" name="mala_a" value=""><br>
        <label for="mala_b">Mala b:</label><br>
        <input type="text" id="mala_b" name="mala_b" value=""><br>
        <label for="mala_c">Mala c:</label><br>
        <input type="text" id="mala_c" name="mala_c" value=""><br>
        <input type="submit" value="SAGLABĀT">
    </form>
</body>
</html>


